<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Network.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15098BDE1E9E8EB500DDD871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15098BF21E9E8EB500DDD871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15098BFD1E9E8EB500DDD871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
